sequencers/modeshape-sequencer-xsd/src/test/resources/stockQuote.xsd

<xsd:schema targetNamespace="http://example.com/stockquote.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="TradePriceRequest">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="tickerSymbol" type="xsd:string" />
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TradePrice">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="price" type="xsd:float" />
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>