modeshape-sequencers/modeshape-sequencer-wsdl/src/test/resources/loanServicePT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ ModeShape (http://www.modeshape.org)
  ~ See the COPYRIGHT.txt file distributed with this work for information
  ~ regarding copyright ownership.  Some portions may be licensed
  ~ to Red Hat, Inc. under one or more contributor license agreements.
  ~ See the AUTHORS.txt file in the distribution for a full listing of
  ~ individual contributors.
  ~
  ~ ModeShape is free software. Unless otherwise indicated, all code in ModeShape
  ~ is licensed to you under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ ModeShape is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<wsdl:definitions xmlns:ens="http://example.com/loan-approval/xsd/error-messages/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://example.com/loan-approval/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.com/loan-approval/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/loan-approval/xsd/error-messages/">
      <xsd:element name="integer" type="xsd:integer"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="creditInformationMessage">
    <wsdl:part name="firstName" type="xsd:string"/>
    <wsdl:part name="name" type="xsd:string"/>
    <wsdl:part name="amount" type="xsd:integer"/>
  </wsdl:message>
  <wsdl:message name="approvalMessage">
    <wsdl:part name="accept" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="riskAssessmentMessage">
    <wsdl:part name="level" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="errorMessage">
    <wsdl:part name="errorCode" element="ens:integer"/>
  </wsdl:message>
  <wsdl:portType name="loanServicePT">
    <wsdl:operation name="request">
      <wsdl:input message="tns:creditInformationMessage"/>
      <wsdl:output message="tns:approvalMessage"/>
      <wsdl:fault name="unableToHandleRequest" message="tns:errorMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="riskAssessmentPT">
    <wsdl:operation name="check">
      <wsdl:input message="tns:creditInformationMessage"/>
      <wsdl:output message="tns:riskAssessmentMessage"/>
      <wsdl:fault name="loanProcessFault" message="tns:errorMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="loanApprovalPT">
    <wsdl:operation name="approve">
      <wsdl:input message="tns:creditInformationMessage"/>
      <wsdl:output message="tns:approvalMessage"/>
      <wsdl:fault name="loanProcessFault" message="tns:errorMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <plnk:partnerLinkType name="loanPartnerLT">
    <plnk:role name="loanService" portType="tns:loanServicePT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="loanApprovalLT">
    <plnk:role name="approver" portType="tns:loanApprovalPT"/>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="riskAssessmentLT">
    <plnk:role name="assessor" portType="tns:riskAssessmentPT"/>
  </plnk:partnerLinkType>
  <wsdl:binding name="loanService_Binding" type="tns:loanServicePT">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="request">
      <soap:operation soapAction="http://example.com/loan-approval/wsdl/request"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://example.com/loan-approval/wsdl/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://example.com/loan-approval/wsdl/"/>
      </wsdl:output>
      <wsdl:fault name="unableToHandleRequest">
        <soap:fault use="literal" name="unableToHandleRequest"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="loanApprover_Binding" type="tns:loanApprovalPT">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="approve">
      <soap:operation soapAction="http://example.com/loan-approval/wsdl/approve"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://example.com/loan-approval/wsdl/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://example.com/loan-approval/wsdl/"/>
      </wsdl:output>
      <wsdl:fault name="loanProcessFault">
        <soap:fault use="literal" name="loanProcessFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="riskAssessor_Binding" type="tns:riskAssessmentPT">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="check">
      <soap:operation soapAction="http://example.com/loan-approval/wsdl/check"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://example.com/loan-approval/wsdl/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://example.com/loan-approval/wsdl/"/>
      </wsdl:output>
      <wsdl:fault name="loanProcessFault">
        <soap:fault use="literal" name="loanProcessFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="loanService">
    <wsdl:port name="loanService_Port" binding="tns:loanService_Binding">
      <soap:address location="http://localhost:8080/Quickstart_bpel_loan_approvalWS"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="loanApprover">
    <wsdl:port name="loanApprover_Port" binding="tns:loanApprover_Binding">
      <soap:address location="http://localhost:8080/Quickstart_bpel_loan_approval/LoanApproval"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="riskAssessor">
    <wsdl:port name="riskAssessor_Port" binding="tns:riskAssessor_Binding">
      <soap:address location="http://127.0.0.1:8080/Quickstart_bpel_loan_approval/RiskAssessment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
